* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

body {
    background-color: hsl(40, 60%, 99%);
    font-family: 'IBM Plex Sans', sans-serif;
}

header {
    width: 100%;
    margin: 20px auto;
}

h1 {
    font-size: 55px;
    font-weight: bold;
}

.courses ul li {
    width: 90%;
    margin: 0 auto 10px;
    border: 2px solid rgba(44, 43, 48, 0.555);
    border-radius: 10px 10px 10px 10px;
    background-color: #e8e7ea;
}

.grade {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}

h2 {
    width: 90%;
    margin: 0 auto 20px;
    font-weight: bold;
}

h3 {
    font-weight: lighter;
}

.course-pdf {
    width: 10%;
    text-align: center;
    margin: 0px 5px;
    padding: 5px 5px;
}

.course-pdf span {
    font-style: italic;
}

h1 {
    text-align: center;
}

.course-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.course-data {
    width: 90%;
    margin: 10px 5px 10px 15px;
}

section {
    width: 100%;
}

section h2 {
    font-weight: bold;
    font-size: 32px;
}

.course-description p {
    margin: 6px auto;
    text-align: justify;
}

.course-data span {
    font-weight: bold;
}

a {
    color: #6902d0;
}

.course-description ul li {
    list-style-type: disc;
    border: none;
    margin: 0 auto;
}

footer {
    position: relative;
    margin: 50px auto 0px;
    background-color: rgb(74, 71, 71);
    height: 50px;
}

footer p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 81%;
    color: white;
    margin-left: 20px;
    font-weight: bold;
}
